.avatar {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.cards {
	display: flex;
    flex-wrap: wrap;
}

.card	{
	padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 10px 30px rgba(260,260,260,0.15);
    background: rgba(260,260,260,1);
    border-radius: 6px;
    margin: 10px;
    flex-basis: 180px;
    flex-grow: 1;
}

.card-description {
    display: flex;
    flex-direction: column;
    flex-basis: 60px;
}

.card-description span {
    color: #232732;
    font-size: 14px;
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.card-description span:hover {
    color: #F7873B;
    font-weight: bolder;
}

.card h3 {
    flex-grow: 1;
    padding-left: 10px;
    font-size: 18px;
}


@media (max-width: 1024px) {
    .card   {
    padding: 12px;
    flex-basis: 180px;
    }
    .card-description span {
    font-size: 14px;
    }
    .avatar {
    width: 80px;
    }
    .card-description {
    flex-basis: 60px;
    }
}

@media (max-width: 768px) {
    .card   {
    padding: 10px;
    flex-basis: 130px;
    }
    .card-description span {
    font-size: 12px;
    }
    .avatar {
    width: 70px;
    }
    .card-description {
    flex-basis: 60px;
    }
}

@media (max-width: 425px) {
    .card   {
    padding: 10px;
    flex-basis: 130px;
    }
    .card-description span {
    font-size: 12px;
    }
    .avatar {
    width: 70px;
    }
    .card-description {
    flex-basis: 60px;
    }
}

@media (max-width: 375px) {
    .card   {
    padding: 8px;
    flex-basis: 110px;
    }
    .card-description span {
    font-size: 10px;
    }
    .avatar {
    width: 50px;
    }
    .card-description {
    flex-basis: 50px;
    }
}

@media (max-width: 320px) {
    .card   {
    padding: 8px;
    flex-basis: 110px;
    }
    .card-description span {
    font-size: 10px;
    }
    .avatar {
    width: 50px;
    }
    .card-description {
    flex-basis: 50px;
    }
}