.navbar {
    background: #F7873B;
    font-size: 14px;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-item {
    cursor: pointer;
    padding-left: 20px;
}

.navbar-link {
    color: #232732;
    opacity: 0.7;
    font-weight: light;
}

.navbar-link:hover {
    font-weight: bold;
}

.navbar-left, .navbar-right{
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.navbar-right{
    font-size: 18px;
}

.navbar-left img {
    width: 40px;
    height: auto;
    border-radius: 6px;
}

.navbar-left span {
    margin-left: 0.5rem;
    color: #232732;
    font-size: 18px;
    display: block;
}

.navbar-left span.subtitle {
    font-size: 14px;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

mr-3, .mx-3 {
    margin-right: 1rem !important;
}

.align-items-center {
    align-items: center !important;
}

.d-flex {
    display: flex !important;
}

@media (min-width: 576px)
.d-sm-flex {
    display: flex !important;
}


@media (max-width: 425px) {
    .navbar-right {
    font-size: 12px;
    }
    .navbar-item {
    padding-left: 14px;
    }
    .navbar-left img {
    width: 30px;
    }
    .navbar-left span {
        font-size: 12px;
    }
    .navbar-left span.subtitle {
        font-size: 11px;
        max-width: 100px;
    }
}
@media (max-width: 375px) {
    .navbar-right {
    font-size: 11px;
    }
    .navbar-item {
    padding-left: 12px;
    }
    .navbar-left img {
    width: 27px;
    }
    .navbar-left span {
        font-size: 11px;
    }
    .navbar-left span.subtitle {
        font-size: 10px;
        max-width: 80px;
    }
}
@media (max-width: 320px) {
    .navbar-right {
    font-size: 10px;
    }
    .navbar-item {
    padding-left: 10px;
    }
    .navbar-left img {
    width: 25px;
    }
    .navbar-left span {
        font-size: 10px;
    }
    .navbar-left span.subtitle {
        font-size: 9px;
        max-width: 60px;
    }
}